
.todolist{
  border: 2px solid black;
  border-radius: 20px;
  margin: 6%;
  margin-top: 2%;
  /* background-image: url(./image.jpg);
  background-repeat: no-repeat;
  height: 100vh; */
}
  .mainheading{
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
  }
  
  .section-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
  }
  .add-size-3{
    flex: 3;
    margin: 5px;
    padding: 5px;
  }
  .add-size-2{
    flex: 2;
    margin: 5px;
    padding: 5px;
  }
  .add-size-1{
    flex: 1;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
  }

  .heading{
    margin-left: 30px;
    font-size:20px;
    font-weight: 600;
  }
  .section{
    margin-bottom: 20px;

  }

  .container{
    border-radius: 10px;
    background-color:black;
    color: white;
    margin: 20px;
    padding: 12px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.butt{
  padding-right: 20px;
}
.completed-task{
  background-color: rgb(255, 255, 255);
  color: black;
}